<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.notice.repository.CommentRepository">


<insert id="save">
    INSERT INTO comment
        (member_id, free_board_id, content, created_at, modified_at)
    VALUES
        (#{memberId}, #{freeBoardId}, #{comment.content}, NOW(), null)

</insert>

    <select id="getCommentsByFreeBoardId" resultType="com.example.notice.entity.Comment">
        SELECT
            c.*,
            m.name AS 'member.name',
            m.member_id AS 'member.memberId'
        FROM
            comment c
            LEFT JOIN member m on c.member_id = m.member_id
        WHERE
            free_board_id = #{freeBoardId}
    </select>

    <select id="getCommentByCommentIdAndMemberId">
        SELECT
            *
        FROM
            comment
        WHERE
            comment_id = #{commentId}
          AND member_id = #{memberId}
    </select>

    <delete id="deleteById">
        DELETE FROM comment
        WHERE comment_id = #{commentId}
    </delete>


</mapper>