<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.notice.repository.FreeBoardRepository">
    <sql id="searchCondition">
        <where>
            <choose>
                <when test="search.startDate != null and search.endDate != null ">
                    AND
                    ((fb.created_at BETWEEN #{search.startDate} AND #{search.endDate})
                    OR
                    (fb.modified_at BETWEEN #{search.startDate} AND #{search.endDate}))
                </when>
                <otherwise>
                    AND
                    ((fb.created_at BETWEEN SUBDATE(NOW(), INTERVAL 1 YEAR) AND NOW())
                    OR
                    (fb.modified_at BETWEEN SUBDATE(NOW(), INTERVAL 1 YEAR) AND NOW()))
                </otherwise>
            </choose>

            <if test="search.category != null and search.category != 'ALL'">
                AND
                    #{search.category} = ct.value
            </if>

            <if test="search.keyWord != null and search.keyWord != ''">
                AND (
                    fb.title LIKE CONCAT('%', #{search.keyWord}, '%')
                    OR fb.content LIKE CONCAT('%', #{search.keyWord}, '%')
                    OR m.`name` LIKE CONCAT('%', #{search.keyWord}, '%'))
            </if>
        </where>
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="freeBoard.freeBoardId">
        INSERT INTO free_board
        (
            title, content,
            views, member_id,
            created_at, modified_at,
            category_id
        )
        VALUES
        (
            #{freeBoard.title}, #{freeBoard.content},
            0, #{memberId},
            NOW(), NOW(),
            (
                SELECT category.category_id
                FROM category
                WHERE category.value = #{freeBoard.category} AND category.board_type = 'free'
            )
        )
    </insert>

    <select id="findBoardById" resultType="com.example.notice.entity.FreeBoard">
        SELECT
            free_board_id, title, content, views, created_at, modified_at,
            ct.value as 'category',
            m.name as 'member.name', m.member_id as 'member.memberId'
        FROM free_board fb
            LEFT JOIN category ct on fb.category_id = ct.category_id
            LEFT JOIN member m on m.member_id = fb.member_id
        WHERE free_board_id = #{freeBoardId}
    </select>

    <update id="increaseViewsByBoardId">
        UPDATE free_board
        SET views = views + 1
        WHERE free_board_id = #{freeBoardId}
    </update>


    <select id="findBoardsBySearchParam" resultType="com.example.notice.entity.FreeBoard">
        SELECT
            free_board_id, title, views, created_at, modified_at,
            ct.value as 'category',
            m.name as 'member.name', m.member_id as 'member.memberId',
            (SELECT count(*) > 0 from file) as have_file
        FROM free_board fb
            LEFT JOIN category ct on fb.category_id = ct.category_id
            LEFT JOIN member m on m.member_id = fb.member_id
        <include refid="searchCondition"/>
        <choose>
            <when test="page.orderColumn != null and page.orderType != null">
                ORDER BY ${page.orderColumn} ${page.orderType}
            </when>
            <otherwise>
                ORDER BY fb.created_at DESC
            </otherwise>
        </choose>
        LIMIT #{page.offset}, #{page.size}
    </select>

    <select id="getTotalCountBySearchParam" resultType="int">
        SELECT count(*)
        FROM free_board fb
            LEFT JOIN category ct on fb.category_id = ct.category_id
            LEFT JOIN member m on m.member_id = fb.member_id
        <include refid="searchCondition"/>
    </select>

    <select id="hasCommentByBoardId" resultType="boolean">
        SELECT count(*) > 0 FROM comment c WHERE c.free_board_id = #{freeBoardId}
    </select>

    <update id="deleteContentAndMemberByBoardId">
        UPDATE
            free_board fb
        SET
            fb.content = NULL,
            fb.member_id = NULL
        WHERE
            free_board_id = #{freeBoardId}
    </update>

    <delete id="deleteByBoardId">
        DELETE FROM free_board
        WHERE
            free_board_id = #{freeBoardId}
    </delete>

    <select id="findBoardByIdAndMemberId">
        SELECT *
        FROM free_board
        WHERE
            free_board_id = #{freeBoardId}
            AND member_id = #{memberId}
    </select>


    <update id="update">
        UPDATE free_board
        SET
            category_id = (SELECT category.category_id
                           FROM category
                           WHERE category.value = #{freeBoard.category}),
            title = #{freeBoard.title},
            content = #{freeBoard.content},
            modified_at = NOW()
        WHERE free_board_id = #{freeBoardId}
    </update>

    <update id="deleteByAdmin">
        UPDATE free_board
        SET
            title = '[관리자에 의해 삭제된 게시글입니다.]',
            content = ' ',
            modified_at = NOW()
        WHERE free_board_id = #{freeBoardId}
    </update>

</mapper>