<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.notice.repository.InquireBoardRepository">

    <sql id="searchCondition">
        <where>
            <choose>
                <when test="search.startDate != null and search.endDate != null ">
                    AND
                    ((ib.created_at BETWEEN #{search.startDate} AND #{search.endDate})
                    OR
                    (ib.modified_at BETWEEN #{search.startDate} AND #{search.endDate}))
                </when>
                <otherwise>
                    AND
                    ((ib.created_at BETWEEN SUBDATE(NOW(), INTERVAL 1 YEAR) AND NOW())
                    OR
                    (ib.modified_at BETWEEN SUBDATE(NOW(), INTERVAL 1 YEAR) AND NOW()))
                </otherwise>
            </choose>

            <if test="search.keyWord != null and search.keyWord != ''">
                AND (
                ib.title LIKE CONCAT('%', #{search.keyWord}, '%')
                OR ib.content LIKE CONCAT('%', #{search.keyWord}, '%')
                OR m.`name` LIKE CONCAT('%', #{search.keyWord}, '%'))
            </if>

            <if test="search.onlyMine == true">
                AND
                ib.memberId = #{memberId}
            </if>
        </where>
    </sql>

    <insert id="save" useGeneratedKeys="true">
        INSERT INTO inquire_board
            (member_id, title, content,
             views, is_secret,
             created_at, modified_at)
        VALUES
            (#{memberId}, #{inquireBoard.title}, #{inquireBoard.content},
             0, #{inquireBoard.isSecret},
             NOW(), NOW())

    </insert>

    <select id="getSearchTotalCount" resultType="int">
        SELECT
            count(*)
        FROM
            inquire_board AS ib
            LEFT JOIN member m on m.member_id = ib.member_id
        <include refid="searchCondition"/>
    </select>

    <select id="search" resultType="com.example.notice.dto.InquireBoardSearchResponseDTO">
        SELECT
            ib.*,
            m.name AS 'member.name', m.member_id AS 'member.memberId',
            (SELECT count(*)
             FROM inquire_answer AS ia
             WHERE ia.inquire_board_id = ib.inquire_board_id) AS isAnswered
        FROM
            inquire_board AS ib
            LEFT JOIN member m on m.member_id = ib.member_id
        <include refid="searchCondition"/>
        <choose>
            <when test="page.orderColumn != null and page.orderType != null">
                ORDER BY ${page.orderColumn} ${page.orderType}
            </when>
            <otherwise>
                ORDER BY ib.modified_at DESC
            </otherwise>
        </choose>
        LIMIT #{page.offset}, #{page.size}
    </select>

    <select id="findById" resultType="com.example.notice.entity.InquireBoard">
        SELECT
            ib.*,
            m.member_id AS 'member.memberId', m.name AS 'member.name'
        FROM inquire_board ib
             LEFT JOIN member m on m.member_id = ib.member_id
        WHERE ib.inquire_board_id = #{inquireBoardId}
    </select>

    <select id="findByInquireBoardIdAndMemberId" resultType="com.example.notice.entity.InquireBoard">
        SELECT *
        FROM inquire_board ib
        WHERE ib.inquire_board_id = #{inquireBoardId}
          AND ib.member_id = #{memberId};
    </select>

    <update id="updateById">
        UPDATE inquire_board
        SET
            title = #{inquireBoard.title},
            content = #{inquireBoard.content},
            is_secret = #{inquireBoard.isSecret},
            modified_at = NOW()
        WHERE inquire_board_id = #{inquireBoardId}
    </update>
</mapper>