<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.notice.repository.MemberRepository">

    <insert id="save">
        INSERT INTO member
            (login_id, password, name, role)
        VALUES
            (#{member.loginId}, SHA2(#{member.password}, 256), #{member.name}, #{member.role})
    </insert>

    <insert id="saveAdmin">
        INSERT INTO member
            (login_id, password, name, role)
        VALUES
            (#{member.loginId}, SHA2(#{member.password}, 256), #{member.name}, 'ADMIN')
    </insert>

    <select id="isDuplicateMemberLoginId" resultType="boolean">
        SELECT (count(*) >= 1) AS duplicate_name_count
        FROM member
        WHERE member.name = #{loginId}
    </select>

    <select id="findMemberByLoginIdAndPassword" resultType="com.example.notice.entity.Member" >
        SELECT *
        FROM member
        WHERE
            member.login_id = #{member.loginId}
            AND member.password = SHA2(#{member.password}, 256)
            AND member.role = 'USER'
    </select>

    <select id="findAdminMemberByLoginIdAndPassword" resultType="com.example.notice.entity.Member" >
        SELECT *
        FROM member
        WHERE
            member.login_id = #{member.loginId}
            AND member.password = SHA2(#{member.password}, 256)
            AND member.role = 'ADMIN'
    </select>

    <select id="findMemberAndAdminByLoginId" resultType="com.example.notice.entity.Member">
        SELECT *
        FROM member
        WHERE member.login_id = #{loginId}
    </select>

</mapper>
